In the previous video, you watched Dr. Gomes work with a number of datasets pulled from various data repositories. Now, it is your turn to explore online data repositories that are publicly available. Conduct an Internet search for data repositories in CSV format, which are available to the general public. Examples of places you could search for datasets are [Kaggleand](https://www.kaggle.com/datasets) and [Stack Overflow](https://stackoverflow.blog/2014/01/23/stack-exchange-cc-data-now-hosted-by-the-internet-archive/). Select three to four datasets that are of interest to you. Then, for each dataset you choose, list the following information:

- A short description of the content of the data
- One or two possible business uses of the data
- The location (URL) of the dataset 
- A summary of the characteristics of the dataset using the describe() function in pandas

Please note: You will use one of these datasets again later in this module, so please select an appropriately sized dataset for this program and your skill level. A dataset containing 10 columns and 500 rows is a good size to start. Hint: If your dataset contains data from many years, you may want to select just one year or a few years to work with later.

In [1]:
import pandas as pd

### Hourly Energy Consumption

The selected file was "AEP_hourly.csv," which represents the estimated energy consumption of American Electric Power (AEP) in Megawatts (MW).

- Business uses:
    - It can help calculate the electricity tariff based on its usage/traffic.
    - It can be used to observe the typical energy consumption and identify anomalies that could be considered as "losses".
- Location: https://www.kaggle.com/datasets/robikscube/hourly-energy-consumption
- Summary:

In [11]:
path = 'C:\\Users\\JDLondon\\Documents\\MEGA\\Documentos JD\\Universidad\\University of California-Berkley\\The Basics of Using pandas\\HourlyEnergyConsumption\\AEP_hourly.csv'
DS = pd.read_csv(path)
DS.describe()

              AEP_MW
count  121273.000000
mean    15499.513717
std      2591.399065
min      9581.000000
25%     13630.000000
50%     15310.000000
75%     17200.000000
max     25695.000000

### Domestic Violence in Colombia

Compilation of data on domestic violence that gas been developing in Colombia over time.

- Business uses:
    - It can be used to determine which gender reports more cases of domestic violence and implement reinforced support measures for this population.
    - It can be used to identify which department has the highest number of such cases and where to focus efforts.

- Location: https://www.kaggle.com/datasets/oscardavidperilla/domestic-violence-in-colombia

- Summary:

In [12]:
path = 'C:\\Users\\JDLondon\\Documents\\MEGA\\Documentos JD\\Universidad\\University of California-Berkley\\The Basics of Using pandas\\Domestic violence in Colombia\\Reporte_Delito_Violencia_Intrafamiliar_Polic_a_Nacional.csv'
DS = pd.read_csv(path)
DS.describe()

C:\Users\JDLondon\AppData\Local\Temp\ipykernel_27684\3454522884.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  DS = pd.read_csv(path)

            CANTIDAD
count  476970.000000
mean        1.707764
std         3.338647
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max       130.000000

### Graduation Rate

The dataset includes 1000 rows, with one row for each high school in the dataset. The graduation rates for each school were generated randomly, and are not based on any actual data.

- Business uses:
    - It can be used to partially evaluate how much the SAT determines the number of years it may take a student to graduate from the program.
    - It can help identify if the fact that parents have certain levels of education influences the student's education.

- Location: https://www.kaggle.com/datasets/rkiattisak/graduation-rate
- Summary:

In [15]:
path = 'C:\\Users\\JDLondon\\Documents\\MEGA\\Documentos JD\\Universidad\\University of California-Berkley\\The Basics of Using pandas\\Graduation Rate\\graduation_rate.csv'
DS = pd.read_csv(path)
DS.describe()

,ACT composite score,SAT total score,parental income,high school gpa,college gpa,years to graduate
count,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000
mean,28.607000,1999.906000,67377.85200,3.707400,3.376500,4.982000
std,2.774211,145.078361,18827.33105,0.287381,0.237179,1.414099
min,20.000000,1598.000000,18906.00000,2.800000,2.600000,3.000000
25%,27.000000,1898.000000,54269.75000,3.500000,3.200000,4.000000
50%,28.500000,2000.000000,67842.50000,3.800000,3.400000,5.000000
75%,31.000000,2099.000000,80465.50000,4.000000,3.500000,6.000000
max,36.000000,2385.000000,124470.00000,4.000000,4.000000,10.000000