In the previous video, you watched Dr. Gomes work with a number of datasets pulled from various data repositories. Now, it is your turn to explore online data repositories that are publicly available. Conduct an Internet search for data repositories in CSV format, which are available to the general public. Examples of places you could search for datasets are [Kaggleand](https://www.kaggle.com/datasets) and [Stack Overflow](https://stackoverflow.com/). Select three to four datasets that are of interest to you. Then, for each dataset you choose, list the following information:

- A short description of the content of the data
- One or two possible business uses of the data
- The location (URL) of the dataset 
- A summary of the characteristics of the dataset using the describe() function in pandas

Please note: You will use one of these datasets again later in this module, so please select an appropriately sized dataset for this program and your skill level. A dataset containing 10 columns and 500 rows is a good size to start. Hint: If your dataset contains data from many years, you may want to select just one year or a few years to work with later.

In [1]:
import pandas as pd

### Hourly Energy Consumption
- **From:** https://www.kaggle.com/datasets/robikscube/hourly-energy-consumption
- American Electric Power (AEP) - estimated energy consumption in Megawatts (MW)

In [7]:
path = 'C:\\Users\\JDLondon\\Documents\\MEGA\\Documentos JD\\Universidad\\University of California-Berkley\\The Basics of Using pandas\\HourlyEnergyConsumption\\AEP_hourly.csv'
DS = pd.read_csv(path)
DS

                   Datetime   AEP_MW
0       2004-12-31 01:00:00  13478.0
1       2004-12-31 02:00:00  12865.0
2       2004-12-31 03:00:00  12577.0
3       2004-12-31 04:00:00  12517.0
4       2004-12-31 05:00:00  12670.0
...                     ...      ...
121268  2018-01-01 20:00:00  21089.0
121269  2018-01-01 21:00:00  20999.0
121270  2018-01-01 22:00:00  20820.0
121271  2018-01-01 23:00:00  20415.0
121272  2018-01-02 00:00:00  19993.0

[121273 rows x 2 columns]